body {
    background-color: rgb(238, 238, 214)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(117, 58, 144);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(238, 238, 214);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  rgb(41, 85, 44);;
  }

h1{
    color: rgb(238, 238, 214);
    font-family: monospace;
    text-align: center;
    background: rgb(117, 58, 144);
    margin-left: 33.33%;
    margin-right: 33.33%
}

h2{
    color: rgb(238, 238, 214);
    font-family: monospace;
    text-align: center;
    background: rgb(117, 58, 144);
    margin-left: 33.33%;
    margin-right: 33.33%
}
h3{
    color: rgb(117, 58, 144);
    font-family: monospace;
    text-align: center;
}
h4{
    color: rgb(117, 58, 144);
    font-family: monospace;
    text-align: center
}
p{
    color: rgb(117, 58, 144);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}
div{
    border-top-style: double;
    border-top-color:  rgb(117, 58, 144);
    border-left-style: double;
    border-left-color:  rgb(117, 58, 144);
    border-right-style: double;
    border-right-color:  rgb(117, 58, 144);
    border-bottom-style: double;
    border-bottom-color:  rgb(117, 58, 144);
    margin-left: 100px;
    margin-right: 100px
}
img{
    max-width: 50%;
    height: 50%
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto
}
/*button*/
a:link, a:visited {
    background-color: rgb(117, 58, 144);
    color:  rgb(238, 238, 214);
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(117, 58, 144);
  }